@charset "utf-8";
*{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none; color:inherit; display:block;}
.cf:after{content:""; clear:both; display:block;}

#wrap{position: relative;}
section{position: relative; height:100vh; background:#0d0514;top:-20px; overflow: hidden;}

/* ----- About Me ----- */
.counter{
    width:300px;
    position: relative;
    top:calc(50% - 75px);
}
.counter li{
    width:10px; height: 10px;
    border-radius:50%;
    background:#fff;
    margin:20px 0 20px 180px;
    cursor: pointer;
}
.counter li.now{background:rgb(202, 78, 78);}

.main{
    width:400px; height: 230px;
    /* border:1px #fff solid; */
    position: relative;
    top:calc(50% - 300px);
    left:25%;
}
.main h3{
    font-size:4rem;
    font-weight: blod;
    color:#fff;
}
.main p{
    margin:20px 0;
    color:#fff;
}

.sub{
    width:450px;
    position: relative;
    left:25%;
    top:180px;
}
.sub h4{
    font-size:1.3rem;
    font-weight: bold;
    color:#fff;
}
.skills{
    display:flex;
    flex-wrap:wrap;
    margin:10px 0;
}
.skills li{
    width:80px;
    color:#fff;
    margin:0 20px 5px 0;
}

.linkwrap{
    width:1120px; height: 1120px;
    position: relative;
    transform:rotate(45deg) scale(0.8);
    top:-500px;
    left:28%;
}
.linkwrap li{
    width:550px; height: 550px;
    background:aliceblue;
    position: absolute;
    
}
.link1{top:5px; left:5px;}
.link2{top:5px;left:565px;}
.link3{top:565px; left:565px;}